**/.git
**/.gitignore
**/.env
!/.env.example
**/.kiro
**/.vscode
**/.idea
**/.dart_tool
**/build
**/dist
**/bin
**/*.exe
**/*.exe~
**/*.test
**/*.out
**/*.log
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite3
**/*-debug
agent
replay
surge
backend
data
